.grid-stack {
  background: white;
}

.newWidget {
  .grid-stack-item-content {
    height: 80px;
    width: 80px;
  }
}

.grid-stack-item-content {
  inset: 2px !important;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #ccc;
  border-radius: 0.5em;
  transition: 0.5s border-color;
}

.gridContainer.run {
  .grid-stack-item-content {
    border-color: transparent;
  }
}

.grid-stack-item[ioty-type="label"] {
  .label {
    height: calc(100% - 1em);
    width: calc(100% - 1em);
    font-weight: bold;
  }
}

.grid-stack-item[ioty-type="display"] {
  .display {
    height: calc(100% - 1em);
    width: calc(100% - 1em);
    font-weight: bold;
    background: lightgray;
    padding: 0.5em;
    box-sizing: border-box;
  }
}

.grid-stack-item[ioty-type="button"] {
  .button {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 1em);
    width: calc(100% - 1em);
    background: #007bff;
    color: white;
    border-radius: 1em;
    font-weight: bold;
    text-align: center;
  }

  .button:active {
    border: solid 2px #66b0ff;
  }
}

.grid-stack-item[ioty-type="switch"] {
  .switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    .track {
      width: 100%;
      height: 2em;
      margin: 0.5em 0 0 0;
      border-radius: 1.5em;
      background: lightgray;
      position: relative;

      .thumb {
        height: 1.6em;
        width: 1.6em;
        background: white;
        border-radius: 1.6em;
        top: 0.2em;
        position: absolute;
        left: 0.3em;
        transition: 0.3s left, 0.3s background-color;
      }
    }

    .track.on {
      background-color: #007bff;

      .thumb {
        left: calc(100% - 1.8em);
      }
    }
  }
}

.grid-stack-item[ioty-type="hSlider"] {
  .hSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 1em);

    .row1 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    input[type="range"] {
      width: 100%;
      margin: 1em 0 0 0;
    }
  }
}

.grid-stack-item[ioty-type="hBar"] {
  .hBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 1em);

    .row1 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    progress {
      width: 100%;
      margin-top: 1em;
      height: 2em;
    }

    progress::-webkit-progress-value, progress::-moz-progress-bar {
      background: #007bff;
    }
  }
}