.grid-stack {
  background: white;
}

.newWidget {
  .grid-stack-item-content {
    height: 80px;
    width: 80px;
  }
}

.grid-stack-item-content {
  inset: 2px !important;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #ccc;
  border-radius: 0.5em;
  transition: 0.5s border-color;
}

.gridContainer.run {
  .grid-stack-item-content {
    border-color: transparent;
  }
}

.grid-stack-item[ioty-type="label"] {
  .label {
    height: calc(100% - 1em);
    width: calc(100% - 1em);
    font-weight: bold;
  }
}

.grid-stack-item[ioty-type="display"] {
  .display {
    height: calc(100% - 1em);
    width: calc(100% - 1em);
    font-weight: bold;
    background: lightgray;
    padding: 0.5em;
    box-sizing: border-box;
  }
}

.grid-stack-item[ioty-type="button"] {
  .button {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 1em);
    width: calc(100% - 1em);
    background: #007bff;
    color: white;
    border-radius: 1em;
    font-weight: bold;
    text-align: center;
  }

  .button:active {
    border: solid 2px #66b0ff;
  }
}

.grid-stack-item[ioty-type="switch"] {
  .switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    .track {
      width: 100%;
      height: 2em;
      margin: 0.5em 0 0 0;
      border-radius: 1.5em;
      background: lightgray;
      position: relative;

      .thumb {
        height: 1.6em;
        width: 1.6em;
        background: white;
        border-radius: 1.6em;
        top: 0.2em;
        position: absolute;
        left: 0.3em;
        transition: 0.3s left, 0.3s background-color;
      }
    }

    .track.on {
      background-color: #007bff;

      .thumb {
        left: calc(100% - 1.8em);
      }
    }
  }
}

.grid-stack-item[ioty-type="hSlider"] {
  .hSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 1em);

    .row1 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    input[type="range"] {
      width: 100%;
      margin: 1em 0 0 0;
    }
  }
}

.grid-stack-item[ioty-type="hBar"] {
  .hBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 1em);

    .row1 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    progress {
      width: 100%;
      margin-top: 1em;
      height: 2em;
    }

    progress::-webkit-progress-value, progress::-moz-progress-bar {
      background: #007bff;
    }
  }
}

.grid-stack-item[ioty-type="color"], .grid-stack-item[ioty-type="color3"] {
  .color {
    height: calc(100% - 1em);
    width: calc(100% - 1em);
    overflow: hidden;
    position: relative;

    img {
      max-width: 80%;
      max-height: 80%;
      margin-left: 20%;
      margin-top: 10%;
      cursor: pointer;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      touch-action: none;
    }

    .selector {
      position: absolute;
      width: 5%;
      height: 5%;
      border: solid 1px gray;
      border-radius: 100%;
      top: 47.5%;
      left: 57.5%;
      box-sizing: border-box;
      pointer-events: none;
    }

    .label {
      position: absolute;
      top: 0;
      left: 0;
    }

    input[type="range"] {
      width: 1em;
      height: 80%;
      position: absolute;
      top: 15%;
      left: 4%;
      appearance: slider-vertical;
    }
  }
}

.grid-stack-item[ioty-type="notification"] {
  @keyframes flash {
    0%   {background-color: #c82333;}
    20%  {background-color: white;}
    40%  {background-color: #c82333;}
    60%  {background-color: white;}
    80%  {background-color: #c82333;}
  }

  .notification {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .indicator {
    width: 80%;
    height: 80%;
    background: white;
    margin: auto;
    border-radius: 10px;
    font-weight: bold;
  }

  .indicator.flash {
    animation-name: flash;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
  }
}

.grid-stack-item[ioty-type="status"] {
  .status {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .label {
    font-weight: bold;
  }

  .indicator {
    width: 80%;
    height: 80%;
    border: solid 1px gray;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }

  .indicator.color1 {
    background-color: #28a745;
    color: white;
  }
  .indicator.color2 {
    background-color: #ffc107;
    color: black;
  }
  .indicator.color3 {
    background-color: #dc3545;
    color: white;
  }
  .indicator.color4 {
    background-color: #007bff;
    color: white;
  }
  .indicator.color5 {
    background-color: #6c757d;
    color: white;
  }
  .indicator.color6 {
    background-color: #343a40;
    color: white;
  }
}
