html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px; }

body {
  background: #f0e4fe;
  font-family: sans-serif;
  display: flex;
  flex-direction: column; }

header {
  background: #7e49fb;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 0em 1em;
  height: 2.2em;
  align-items: center;
  justify-content: space-between; }
  header .headerLeft, header .headerCenter, header .headerRight {
    display: flex;
    flex-direction: row;
    align-items: center; }
  header .language {
    cursor: pointer;
    user-select: none;
    margin-left: 0.5em; }

.bold {
  font-weight: bold; }

main {
  position: relative;
  height: 100%;
  overflow: hidden; }
  main .gridContainer {
    height: 100%;
    overflow: auto; }
    main .gridContainer .grid-stack {
      height: 100%; }

#widgetToolbox {
  position: absolute;
  height: 100%;
  max-width: 200px;
  top: 0;
  left: 0%;
  padding: 0 16px;
  box-sizing: border-box;
  z-index: 100;
  background: #bbb;
  overflow-x: hide;
  overflow-y: auto;
  transition: left 0.3s; }
  #widgetToolbox .row {
    display: flex;
    align-items: center;
    margin-top: 1em; }
  #widgetToolbox .toolboxLabel {
    margin-left: 0.5em;
    color: gray; }

#widgetToolbox.hide {
  left: -200px; }

#trash {
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.15em 1em;
  font-size: 150%;
  border-radius: 10px; }

#trash:hover {
  background: pink; }

#addNewWidget, #run, #stop {
  display: flex;
  align-items: center;
  font-size: 150%;
  margin-right: 1em;
  cursor: pointer;
  user-select: none; }

#addNewWidget.hide, #run.hide, #stop.hide, #trash.hide, #connectMenu.hide {
  display: none; }

#connectGroup {
  display: flex;
  margin-left: auto;
  margin-right: 0.2em; }
  #connectGroup #connectionStatus {
    padding: 0.4em 0.5em 0.2em 0.5em;
    border-radius: 0.5em 0 0 0.5em;
    background: red;
    color: white; }
  #connectGroup #connectionStatus.connected {
    background: green; }
  #connectGroup #connectMenu {
    padding: 0.4em 0.5em 0.2em 0.45em;
    border-radius: 0 0.5em 0.5em 0;
    color: #7e49fb;
    background: white;
    cursor: pointer;
    user-select: none; }

ul.menuDropDown {
  background: #f0e4fe;
  border: solid 1px #bbbbbb;
  position: absolute;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-radius: 0 0 0.5em 0.5em;
  overflow: hidden;
  box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.25); }
  ul.menuDropDown li {
    display: block;
    color: gray;
    padding: 0.5em; }
  ul.menuDropDown li:hover {
    background: white; }
  ul.menuDropDown li.underline {
    border-bottom: solid 1px #bbbbbb; }
  ul.menuDropDown .tick {
    color: green; }

ul.menuDropDownRightAlign {
  top: 100%; }

.dialogWindow .shareLink {
  font-weight: bold;
  overflow-wrap: anywhere;
  display: flex;
  align-items: center; }
  .dialogWindow .shareLink .copy {
    cursor: pointer;
    user-select: none;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    background: white;
    color: gray;
    flex-shrink: 0;
    height: 1em; }

#linkQRCode {
  display: flex;
  justify-content: center; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?zcpech");
  src: url("../fonts/icomoon.eot?zcpech#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?zcpech") format("truetype"), url("../fonts/icomoon.woff?zcpech") format("woff"), url("../fonts/icomoon.svg?zcpech#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-edit:before {
  content: "\e91b"; }

.icon-kebab:before {
  content: "\e918"; }

.icon-plus:before {
  content: "\e91a"; }

.icon-deleteFile:before {
  content: "\e917"; }

.icon-download:before {
  content: "\e915"; }

.icon-upload:before {
  content: "\e916"; }

.icon-newFile:before {
  content: "\e919"; }

.icon-buttonsDown:before {
  content: "\e90e"; }

.icon-buttonsLeft:before {
  content: "\e90f"; }

.icon-buttonsRight:before {
  content: "\e910"; }

.icon-buttonsUp:before {
  content: "\e911"; }

.icon-buttons:before {
  content: "\e912"; }

.icon-buttonsBackspace:before {
  content: "\e913"; }

.icon-buttonsEnter:before {
  content: "\e914"; }

.icon-sensors:before {
  content: "\e90d"; }

.icon-reset:before {
  content: "\e90c"; }

.icon-keyboard:before {
  content: "\e90b"; }

.icon-cameraArc:before {
  content: "\e900"; }

.icon-cameraTop:before {
  content: "\e901"; }

.icon-cameraFollow:before {
  content: "\e902"; }

.icon-ruler:before {
  content: "\e903"; }

.icon-camera:before {
  content: "\e904"; }

.icon-virtualJoystickIndicator:before {
  content: "\e905"; }

.icon-stop:before {
  content: "\e906"; }

.icon-play:before {
  content: "\e907"; }

.icon-globe:before {
  content: "\e908"; }

.icon-virtualJoystick:before {
  content: "\e909"; }

.icon-joystick:before {
  content: "\e90a"; }

.grid-stack {
  background: white; }

.newWidget .grid-stack-item-content {
  height: 80px;
  width: 80px; }

.grid-stack-item-content {
  inset: 2px !important;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #ccc;
  border-radius: 0.5em;
  transition: 0.5s border-color; }

.gridContainer.run .grid-stack-item-content {
  border-color: transparent; }

.grid-stack-item[ioty-type="label"] .label {
  height: calc(100% - 1em);
  width: calc(100% - 1em);
  font-weight: bold; }

.grid-stack-item[ioty-type="display"] .display {
  height: calc(100% - 1em);
  width: calc(100% - 1em);
  font-weight: bold;
  background: lightgray;
  padding: 0.5em;
  box-sizing: border-box; }

.grid-stack-item[ioty-type="button"] .button {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 1em);
  width: calc(100% - 1em);
  background: #007bff;
  color: white;
  border-radius: 1em;
  font-weight: bold;
  text-align: center; }
.grid-stack-item[ioty-type="button"] .button:active {
  border: solid 2px #66b0ff; }

.grid-stack-item[ioty-type="switch"] .switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; }
  .grid-stack-item[ioty-type="switch"] .switch .track {
    width: 100%;
    height: 2em;
    margin: 0.5em 0 0 0;
    border-radius: 1.5em;
    background: lightgray;
    position: relative; }
    .grid-stack-item[ioty-type="switch"] .switch .track .thumb {
      height: 1.6em;
      width: 1.6em;
      background: white;
      border-radius: 1.6em;
      top: 0.2em;
      position: absolute;
      left: 0.3em;
      transition: 0.3s left, 0.3s background-color; }
  .grid-stack-item[ioty-type="switch"] .switch .track.on {
    background-color: #007bff; }
    .grid-stack-item[ioty-type="switch"] .switch .track.on .thumb {
      left: calc(100% - 1.8em); }

.grid-stack-item[ioty-type="hSlider"] .hSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 1em); }
  .grid-stack-item[ioty-type="hSlider"] .hSlider .row1 {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .grid-stack-item[ioty-type="hSlider"] .hSlider input[type="range"] {
    width: 100%;
    margin: 1em 0 0 0; }

.grid-stack-item[ioty-type="hBar"] .hBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 1em); }
  .grid-stack-item[ioty-type="hBar"] .hBar .row1 {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .grid-stack-item[ioty-type="hBar"] .hBar progress {
    width: 100%;
    margin-top: 1em;
    height: 2em; }
  .grid-stack-item[ioty-type="hBar"] .hBar progress::-webkit-progress-value, .grid-stack-item[ioty-type="hBar"] .hBar progress::-moz-progress-bar {
    background: #007bff; }

.grid-stack-item[ioty-type="color"] .color, .grid-stack-item[ioty-type="color3"] .color {
  height: calc(100% - 1em);
  width: calc(100% - 1em);
  overflow: hidden;
  position: relative; }
  .grid-stack-item[ioty-type="color"] .color img, .grid-stack-item[ioty-type="color3"] .color img {
    max-width: 80%;
    max-height: 80%;
    margin-left: 20%;
    margin-top: 10%;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: none; }
  .grid-stack-item[ioty-type="color"] .color .selector, .grid-stack-item[ioty-type="color3"] .color .selector {
    position: absolute;
    width: 5%;
    height: 5%;
    border: solid 1px gray;
    border-radius: 100%;
    top: 47.5%;
    left: 57.5%;
    box-sizing: border-box;
    pointer-events: none; }
  .grid-stack-item[ioty-type="color"] .color .label, .grid-stack-item[ioty-type="color3"] .color .label {
    position: absolute;
    top: 0;
    left: 0; }
  .grid-stack-item[ioty-type="color"] .color input[type="range"], .grid-stack-item[ioty-type="color3"] .color input[type="range"] {
    width: 1em;
    height: 80%;
    position: absolute;
    top: 15%;
    left: 4%;
    appearance: slider-vertical; }

.configuration {
  padding: 0.5em 0em; }
  .configuration input[type=text], .configuration input[type=file] {
    font-size: 100%;
    background: none;
    border: solid 1px white;
    color: white; }
  .configuration .configurationTitle {
    color: lightgray;
    margin-bottom: 0.1em; }
  .configuration .slider {
    display: flex; }
    .configuration .slider input[type=range] {
      flex-grow: 1; }
    .configuration .slider input[type=text] {
      width: 3em;
      text-align: right; }
  .configuration .text input[type=text] {
    width: 100%; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white; }

.tooltip .tooltiptext {
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 0.2em 0.5em;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  max-width: 18em;
  width: max-content; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid; }

.tooltip.bottom .tooltiptext {
  top: 125%;
  left: 50%;
  transform: translateX(-50%); }
.tooltip.bottom .tooltiptext::after {
  margin-left: -5px;
  bottom: 100%;
  left: 50%;
  border-color: transparent transparent white transparent; }

.tooltip.right .tooltiptext {
  top: 50%;
  left: 100%;
  transform: translate(0.5em, -50%); }
.tooltip.right .tooltiptext::after {
  margin-top: -5px;
  right: 100%;
  top: 50%;
  border-color: transparent white transparent transparent; }

.tooltip.left .tooltiptext {
  top: 50%;
  right: 100%;
  transform: translate(-0.5em, -50%); }
.tooltip.left .tooltiptext::after {
  margin-top: -5px;
  left: 100%;
  top: 50%;
  border-color: transparent transparent transparent white; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }
